@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');


:root{
    --fuente-principal: 'Roboto', sans-serif;
    --fuente-secundario: 'Roboto Condensed', sans-serif;
    --texto-imp: 'Protest Revolution', sans-serif; 

    --blanco: #ffffff;
    --negro:#000000;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 16px; /*1rem = 10px*/
    font-family: var(--fuente-principal);
    background: rgb(101,42,99);
    background: linear-gradient(30deg, rgba(101,42,99,1) 2%, rgba(177,68,181,1) 47%, rgba(38,52,55,1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    color: var(--blanco);

}

.contenedor{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

h1, h2, h3, h4{
    line-height: 1.2;
}

/*Utilizadas*/
.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}


/*Pagina de login*/
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-bottom: 5rem; */
    height: 50rem;
    
}


.formato__registro,
.formato__acceso{
    display: flex;
    justify-content:center;
    margin-bottom: 2rem;
}

.formato__icono{
    background-color: white;
    border-radius: 10rem;
    padding: .5rem;
    margin-right: -1rem;
    z-index: 1;
}



.formato__input{
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    font-weight: 400;
    border-radius: 3rem;
    border: none;
    width: 40rem;
    font-family: var(--fuente-secundario);
    font-size: 1.8rem;
}

.formato__input:focus{
    color: var(--blanco);
    opacity: 0.7;
    outline: none;
}

.boton{
    display: block;
    font-family: var(--fuente-secundario);
    font-weight: 700;
    padding: 1rem 3rem;
    border-radius: 2rem;
    text-align: center;
    margin: 1.5rem auto ;
    text-transform: uppercase;
    font-size: 1.8rem;
    width: 85%;
    border: none;
}

.boton:hover{
   opacity: .8;
}

    

/*Inicio*/
.led-contenedor{
    display: flex;
    justify-content: center;
}

.led-letter {
    font-size: 50px;
    font-weight: bold;
    color: #d3dbd4d3; /* Color de la luz LED */
    text-shadow: 0 0 10px #d842e5, 0 0 20px #ff00e6, 0 0 30px #560280; /* Sombra para simular el efecto LED */
    animation: parpadeo 1s infinite alternate;
    margin: 0 10px;
}

@keyframes parpadeo {
    0% {
        opacity: 0.2;
        color: #FF0000; /* Color rojo */
    }
    20% {
        opacity: 1;
        color: #00FF00; /* Color verde */
    }
    40% {
        opacity: 1;
        color: #00ccff; /* Color verde */
    }
    60% {
        opacity: 0.2;
        color: #fffb00; /* Color rojo */
    }
    80% {
        opacity: 1;
        color: #ff00e6; /* Color verde */
    }
    100% {
        opacity: 1;
        color: #ff006a; /* Color verde */
    }
}

.regalo{
    height: 20rem;
}

.regalo:hover{

}
.animatedObject {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: move 4s infinite alternate;
}

@keyframes move {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
