@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Protest+Riot&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --fuente-principal:"Playfair Display", serif;
    --fuente-secundario: 'Protest Riot', sans-serif;
    --blanco: #ffffff;
    --negro:#000000;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuente-principal);
    font-size: 1.6rem;
    line-height: 2;
    color: var(--blanco);
    background: rgb(42,46,58);
    background: radial-gradient(circle, rgba(42,46,58,1) 2%, rgba(45,33,46,1) 48%, rgba(8,5,24,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

/* Globales */
.contenedor{
    max-width: 120rem;
    width: 95%;
    padding-bottom: 0;
    margin: auto;
    margin-top: 5rem;
}
a{
    text-decoration: none;
    color: var(--negro);
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

h1, h2, h3, h4{
    line-height: 1.2;
}

p{
    font-size: 1.8rem;
}

/*Utilizadas*/
.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}



/*Pagina de login*/
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-bottom: 5rem; */
    height: 50rem;
    
}


.formato__registro,
.formato__acceso{
    display: flex;
    justify-content:center;
    margin-bottom: 2rem;
}

.formato__icono{
    background-color: white;
    border-radius: 10rem;
    padding: .5rem;
    margin-right: -1rem;
    z-index: 1;
}

.formato__input{
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    font-weight: 400;
    border-radius: 3rem;
    border: none;
    width: 40rem;
    font-family: var(--fuente-secundario);
    font-size: 1.8rem;
}

.formato__input:focus{
    color: var(--blanco);
    opacity: 0.7;
    outline: none;
}


.boton:hover{
   opacity: .8;
}



/* Sonido */

.contenido__audio{
    position: relative;
    z-index: 1;
}

.play__btn{
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: transparent;
    cursor: pointer;
    stroke: var(--blanco);
}

/* .silencio__btn{
} */

.speakerIcon{
    display: none;
}

@media (min-width: 768px) {
    .play__btn{
        top: 3rem;
        right: 5rem;
        height: 5rem;
        width: 5rem;
    }

    .speakerIcon{
        width: 4rem;
        height: 4rem;
    }
}


/*Inicio*/
.led-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 3rem 0 3rem;
    line-height: normal;
}

.led-letter {
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    /* color: #d3dbd4d3; Color de la luz LED */
    /* animation: parpadeo 1.5s infinite alternate; */
    margin: 0 10px;
    letter-spacing: .5rem;
}

@media (min-width: 768px) {

    .led-contenedor{
        margin: 5rem 0 0 0;
        line-height: normal;
    }
    .led-letter {
        font-size: 50px;
        /* color: #d3dbd4d3; Color de la luz LED */
        animation: parpadeo 1.5s infinite alternate;
        letter-spacing: .5rem;
    }
}

/* @keyframes parpadeo {
    0% {
        opacity: .8;
        color: #FF0000; text-shadow: 0 0 10px #e5428ed3, 0 0 20px #ff0022, 0 0 30px #800217; 
    }
    10% {
        opacity: 1;
        color: #ebeeeb; 
        text-shadow: 0 0 10px #c4e0c3, 0 0 20px #90a091, 0 0 30px #5e635e; 
    }
    20% {
        opacity: .5;
        color: #00FF00; 
        text-shadow: 0 0 10px #47e542, 0 0 20px #00ff0d, 0 0 30px #028013; 
    }
    40% {
        opacity: .5;
        color: #00ccff; 
        text-shadow: 0 0 10px #42d2e5, 0 0 20px #00a2ff, 0 0 30px #027880; 
    }
    60% {
        opacity: 0.2;
        color: #fffb00; 
        text-shadow: 0 0 10px #e5e242, 0 0 20px #ffee00, 0 0 30px #806302; 
    }
    80% {
        opacity: 1;
        color: #ff00e6; 
        text-shadow: 0 0 10px #d842e5, 0 0 20px #f700ff, 0 0 30px #560280; 
    }
    100% {
        opacity: .5;
        color: #ff006a; 
        text-shadow: 0 0 10px #e54d42, 0 0 20px #00a2ff, 0 0 30px #560280; 
    } 
} */


/*CARD*/
.tarjeta{
    height: 40rem;
    width: 30rem;
    position: relative;
    margin: 2rem auto;

}

@media (min-width: 768px) {
    .tarjeta{
        height: 60rem;
        width: 50rem;
    }
}
/* .card{
    position: relative;
    height: 40rem;
    width: 30rem;
    margin: 5rem auto;
    perspective: 1000px;
} */

.tarjeta__cara{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 3rem;
    overflow: hidden;
    transition:transform 0.5s;
    border: 2px solid var(--blanco);
}

.tarjeta__front--img{
    /* background-image: url(../img/3.jpg); */
    background-color: #000000;
    opacity: .7;
    background-size: cover;
    background-repeat: no-repeat;
}

.giro{
    margin: 0 1rem;
    opacity: .4;
}


.front__h2{
    position: absolute;
    bottom: 0;
    margin: 0;
    background-color: rgb(0, 0, 0, .7);
    width: 100%;
    height: 60px;
    color: #c3b9c4;
    font-size: 2rem;
    padding: 2rem auto ;
    line-height: 40px;
    font-family: var(--fuente-principal);
    
}

.tarjeta__front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 50px 50px #141414;
}


.pastel{
    height: 13rem;
    width: auto;
    margin: 0 auto;
    animation: parpadeo2 1.5s infinite alternate;
}

.div__pastel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes parpadeo2{
    0% {
        opacity: .0;
    }
    100% {
        opacity: .6;
      
    }
}

/* .animatedObje {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: move 4s infinite alternate;
}

@keyframes move {
    0% {
        transform: translate(-50%, -50%) rotate(-40deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(40deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-40deg);
    }
} */


/*Tarjeta Back*/
.tarjeta__back{
    height: 60rem;
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 0 50px 50px #141414;
    background-color: rgb(0, 0, 0, .5);
}

.centrar{
    display: flex;
    flex-direction: column;
    margin: 7rem auto;
}

.tarjeta__back__contenido{
    margin: 5rem auto;
    padding: 0;
    display: grid;
    width: 93%;
    /* grid-template-areas: 'texto1 texto1',
                         'img  texto2'; */

    grid-template-columns: 1fr 2fr;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.back__h2{
    position: absolute;
    top: 0;
    margin: 3rem 0 0 0;
    line-height: 3rem;
    font-size: 2.4rem;
    font-family: var(--fuente-principal);
    font-weight: 400;
    font-style: italic;
    width: 100%;
    height: 50px;
}
p{
    font-family: var(--fuente-principal);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 1.5px;
}
.elemento__2--span{
    font-size: 1.5rem;
}


.card__elemento--1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__elemento--2{
    grid-row: 2 / 3 ;
    grid-column: 2 / 3;
    margin-bottom: 0;
}

.card__elemento--3{
    grid-row: 2 / 3 ;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.card__elemento--4{
    grid-row: 3 / 4 ;
    grid-column: 1 / 3;
    margin: 0;
}


img{
    width: 90%;
}

.boton{
    display: block;
    font-family: var(--fuente-secundario);
    font-weight: 700;
    padding: 1rem 3rem;
    border-radius: 2rem;
    text-align: center;
    margin: 1.5rem auto ;
    text-transform: uppercase;
    font-size: 1.8rem;
    width: 85%;
    border: none;
    color: var(--negro);
}



.tarjeta:hover .tarjeta__front {
    transform: rotateY(180deg); /* Gira la cara frontal en hover */
}

.tarjeta:hover .tarjeta__back {
    transform: rotateY(0); /* Gira la cara trasera en hover */
}

/*Globos*/
.contenido__globos{
    position: relative;
    width: 95%;
    height: 10%;
    z-index: -1;
}
.contenido__globos2{
    position: relative;
    width: 95%;
    height: 10%;
    z-index: 1;
    opacity: .2;
}

.globo{
    position: absolute;
    bottom: 5rem;
    width: 80px;
    height: 50px;
    background-color: transparent;
    animation: subir 5s linear infinite;
}

@keyframes subir{
    0%{
        transform:  translateY(0);
    }
    20%{
        transform:  translateY(-100%);
    }
    40%{
        transform:  translateY(-200%);
    }
    60%{
        transform:  translateY(-600);
    }
    80%{
        transform:  translateY(-800);
    }
    100%{
        transform: translateY(-1000%);
    }
}

.globo:nth-child(1){
    left: 0%;
    animation-delay: 0s;
}
.globo:nth-child(2){
    left: 25%;
    animation-delay: 3s;
}
.globo:nth-child(3){
    left: 50%;
    animation-delay: 1s;
}
.globo:nth-child(4){
    left: 73%;
    animation-delay: 6s;
}
.globo:nth-child(5){
    left: 83%;
    animation-delay: 4s;
}


@keyframes neon-animation {
    0% {
        text-shadow: 0 0 10px rgba(255, 0, 0, 0.8),
                     0 0 20px rgba(255, 0, 0, 0.8),
                     0 0 30px rgba(255, 0, 0, 0.8);
    }
    50% {
        text-shadow: 0 0 10px rgba(0, 255, 0, 0.8),
                     0 0 20px rgba(0, 255, 0, 0.8),
                     0 0 30px rgba(0, 255, 0, 0.8);
    }
    100% {
        text-shadow: 0 0 10px rgba(0, 0, 255, 0.8),
                     0 0 20px rgba(0, 0, 255, 0.8),
                     0 0 30px rgba(0, 0, 255, 0.8);
    }
}

.neon {
    /* font-size: 3rem; */
    animation: neon-animation 1.5s ease-in-out infinite alternate;
}




